{% extends 'base.html' %}

{% block content %}
<h2 class="text-center my-3">Your Tasks</h2>
{% if tasks %}
<div class="px-5">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
          <tr>
            <td>{{ task.taskTitle }}</td>
            <td>{{ task.taskDescription }}</td>
            <td>
                {% if task.is_completed %}
                    Complete
                {% else %}
                    Incomplete
                {% endif %}
            </td>
            <td class="d-grid gap-2 d-md-block">
                <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
                <a class="btn btn-sm btn-primary" href="{% url 'edit_task' task.id %}">Edit</a>
                <a class="btn btn-sm btn-success" href="{% url 'complete_task' task.id %}">Complete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endif %}

<hr style="border-top: 3px dotted #838282;" class="dotted mt-5">

<div class="d-grid gap-2 d-md-block text-center mx-5">
    <a class="btn btn-primary" href="{% url 'add_task' %}">Add Task</a>
    <a class="btn btn-primary" href="{% url 'completed_tasks' %}">View Completed Tasks</a>
</div>

{% endblock %}
