{% extends 'base.html' %}

{% block content %}
<h2 class="text-center my-3 text-success">My Tasks</h2>
{% if tasks %}
<div class="px-5 table-responsive">
    <table class="table table-hover table-bordered align-middle text-center">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Photos</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr class="{% if task.is_completed %}table-success{% endif %}">
                <td>{{ task.taskTitle }}</td>
                <td class="w-25">{{ task.taskDescription }}</td>
                <td>{{ task.taskDueDate }}</td>
                <td>{{ task.taskPriority }}</td>
                <td>
                    {% if task.is_completed %}
                        Complete
                    {% else %}
                        Incomplete
                    {% endif %}
                </td>
                <td>{{ task.created_at }}</td>
                <td>
                    <ul>
                        {% for photo in task.images.all %}
                            <li><img class="p-1" src="{{ photo.image.url }}" width="100" height="100" alt="Task Photo"></li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="align-middle">
                    <div class="d-grid">
                        {% if not task.is_completed %}
                        <a class="btn btn-sm btn-primary m-1" href="{% url 'edit_task' task.id %}">Edit</a>
                        <a class="btn btn-sm btn-success m-1" href="{% url 'complete_task' task.id %}">Complete</a>
                        <a class="btn btn-sm btn-danger m-1" href="{% url 'delete_task' task.id %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                    {% endif %}
                    {% if task.is_completed %}
                        <a class="btn btn-sm btn-danger m-1" href="{% url 'delete_task' task.id %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                    {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<hr style="border-top: 3px dotted #838282;" class="dotted mt-5">

<div class="d-grid gap-2 d-md-block text-center mx-5">
    <a class="btn btn-primary" href="{% url 'add_task' %}">Add Task</a>
    <a class="btn btn-primary" href="{% url 'completed_tasks' %}">View Completed Tasks</a>
</div>

{% endblock %}
